fastapi==0.115.6
uvicorn[standard]==0.34.0
python-dotenv==1.0.1
pydantic[email]==2.10.4
pydantic-settings==2.7.1
email-validator==2.2.0
psycopg[binary]==3.2.3
psycopg-pool==3.2.4
httpx==0.28.1
openai==1.59.6
pillow==11.1.0
pyjwt[crypto]==2.10.1
